<a href="https://colab.research.google.com/github/shivamtiwari45/ML_Week1/blob/Day02/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
marks = [
    [85, 90, 78],  # Student 1
    [76, 88, 69],  # Student 2
    [92, 81, 85]   # Student 3
]

for i, student in enumerate(marks, 1):
    total = sum(student)
    average = total / len(student)
    print(f"Student {i}: Total = {total}, Average = {average:.2f}")

Student 1: Total = 253, Average = 84.33
Student 2: Total = 233, Average = 77.67
Student 3: Total = 258, Average = 86.00

In [ ]:
students = [
    (101, "shivam", 18),
    (102, "rohit", 19),
    (103, "amit", 18)
]

for roll, name, age in students:
    print(f"Roll No: {roll}, Name: {name}, Age: {age}")

Roll No: 101, Name: shivam, Age: 18
Roll No: 102, Name: rohit, Age: 19
Roll No: 103, Name: amit, Age: 18

In [ ]:
students = {
    101: "shivansh",
    102: "sarthak",
    103: "rohan"
}

def search_name(roll_number):
    return students.get(roll_number, "Student not found")

# Example usage
print(search_name(102))  # Output: Bob
print(search_name(105))  # Output: Student not found

sarthak
Student not found

In [ ]:
all_students = {"Shivam", "Rohit", "Amit", "Nikhil", "Chirag"}
football = {"Shivam", "Rohit", "Chirag"}
cricket = {"Rohit", "Amit", "Nikhil"}

both = football & cricket
only_one = football ^ cricket
none = all_students - (football | cricket)

print("Both:", both)
print("Only one:", only_one)
print("None:", none)

Both: {'Rohit'}
Only one: {'Shivam', 'Nikhil', 'Amit', 'Chirag'}
None: set()