<a href="https://colab.research.google.com/github/shivamtiwari45/ML_Week1/blob/Assignment_Pandas/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Carol', 'Dave', 'Eva', 'Frank', 'Grace'],
    'Age': [23, 25, 22, 24, 21, 26, 23],
    'Gender': ['F', 'M', 'F', 'M', 'F', 'M', 'F'],
    'Marks': [85, 58, 90, 45, 76, 67, 92],
    'Department': ['CSE', 'ECE', 'CSE', 'ME', 'ECE', 'CSE', 'CSE']
}

df = pd.DataFrame(data)
print(df)

    Name  Age Gender  Marks Department
0  Alice   23      F     85        CSE
1    Bob   25      M     58        ECE
2  Carol   22      F     90        CSE
3   Dave   24      M     45         ME
4    Eva   21      F     76        ECE
5  Frank   26      M     67        CSE
6  Grace   23      F     92        CSE

In [2]:
df.shape

(7, 5)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        7 non-null      object
 1   Age         7 non-null      int64
 2   Gender      7 non-null      object
 3   Marks       7 non-null      int64
 4   Department  7 non-null      object
dtypes: int64(2), object(3)
memory usage: 412.0+ bytes

In [4]:
df.describe()

             Age      Marks
count   7.000000   7.000000
mean   23.428571  73.285714
std     1.718249  17.547215
min    21.000000  45.000000
25%    22.500000  62.500000
50%    23.000000  76.000000
75%    24.500000  87.500000
max    26.000000  92.000000

In [5]:
#Add a new column for pass or fail
import numpy as np
df["Result"]=np.where(df['Marks'] >=60,'Pass','Fail')
print(df)

    Name  Age Gender  Marks Department Result
0  Alice   23      F     85        CSE   Pass
1    Bob   25      M     58        ECE   Fail
2  Carol   22      F     90        CSE   Pass
3   Dave   24      M     45         ME   Fail
4    Eva   21      F     76        ECE   Pass
5  Frank   26      M     67        CSE   Pass
6  Grace   23      F     92        CSE   Pass

In [6]:
# Add another column  for grade
df["Grade"] = np.where(df['Marks'] >= 90, 'A',
               np.where((df['Marks'] >= 80) & (df['Marks'] <= 89), 'B',
               np.where((df['Marks'] >= 70) & (df['Marks'] <= 79), 'C',
               np.where((df['Marks'] >= 60) & (df['Marks'] <= 69), 'D', 'F'))))

print(df)

    Name  Age Gender  Marks Department Result Grade
0  Alice   23      F     85        CSE   Pass     B
1    Bob   25      M     58        ECE   Fail     F
2  Carol   22      F     90        CSE   Pass     A
3   Dave   24      M     45         ME   Fail     F
4    Eva   21      F     76        ECE   Pass     C
5  Frank   26      M     67        CSE   Pass     D
6  Grace   23      F     92        CSE   Pass     A

In [7]:
# Add another column  for grade
df["Grade"] = np.where(df['Marks'] >= 90, 'A',
               np.where((df['Marks'] >= 80) & (df['Marks'] <= 89), 'B',
               np.where((df['Marks'] >= 70) & (df['Marks'] <= 79), 'C',
               np.where((df['Marks'] >= 60) & (df['Marks'] <= 69), 'D', 'F'))))

print(df)

    Name  Age Gender  Marks Department Result Grade
0  Alice   23      F     85        CSE   Pass     B
1    Bob   25      M     58        ECE   Fail     F
2  Carol   22      F     90        CSE   Pass     A
3   Dave   24      M     45         ME   Fail     F
4    Eva   21      F     76        ECE   Pass     C
5  Frank   26      M     67        CSE   Pass     D
6  Grace   23      F     92        CSE   Pass     A

In [8]:
# Average marks
mean_val = df[df["Department"] == "CSE"]["Marks"].mean()
print(mean_val)

83.5

In [9]:
#Count of students in each dept
count_cse = df[df["Department"] == "CSE"]["Name"].count()
count_ece = df[df["Department"] == "ECE"]["Name"].count()
count_me = df[df["Department"] == "ME"]["Name"].count()
print(count_cse,count_ece,count_me)

4 2 1

In [10]:
#All female students from CSE who scored above 80.
cse_female=df[
    (df["Department"] == "CSE")&
    (df["Gender"] == "F")&
    (df["Marks"] > 80)
    ]

print(cse_female)

    Name  Age Gender  Marks Department Result Grade
0  Alice   23      F     85        CSE   Pass     B
2  Carol   22      F     90        CSE   Pass     A
6  Grace   23      F     92        CSE   Pass     A

In [ ]:
#All students with grade “A” or “B”.
students = df[df["Grade"].isin(["A", "B"])]
print(students)